<div class="row">
  <div class="col s12 center">
    <h2>Table <%= @table.id %></h2>
    <% @customers.each do |customer| %>
    <a class="black-text" href="/customers/<%= customer.id %>">
    <div class="card">
      <div class="card-content">
        <h4><%= customer.name %></h4>
      </div>
    </div>
    </a>
    <% end %>
  </div>
</div>
