/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize.min
 */
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

.navigation li {
  display: inline;
  margin: 0 10px;
}

.navigation form {
  display: inline;
}

.title {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

.title2 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}

.footer-stuff h5 {
  display: inline;
}

.footer-stuff h6 {
  display: inline;
}

#main {
  height: 100%;
}

#modal-receipt {
  display: none;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  background-color: rgba(0,0,0,0.8);
  padding: 100px;
}

/* label underline focus color NOT WORKING*/
 .input-field input[type=password]:focus {
   border-bottom: 1px solid rgb(229,57,53);
   box-shadow: 0 1px 0 0 rgb(229,57,53);
 }
